:root {
  font-size: 10px;
  background-image: url('https://cdn.theatlantic.com/assets/media/img/2015/07/WEL_FlanniganPCComedy_01WEBCrop-1/original.jpg');
  background-size: cover;
  text-align: center;
}
